# Como o arquivo ".env" está no .gitignore, você pode usar o arquivo ".env.example"
# para criar um novo arquivo ".env" ao clonar o repositório.

# Este arquivo será versionado, então certifique-se de não colocar nenhum segredo nele.
# Se você está clonando este repositório, crie uma cópia deste arquivo chamada ".env"
# e preencha com seus segredos.

# Ao adicionar variáveis de ambiente adicionais, o schema em "backend/infrastructure/configs/env.js"
# deve ser atualizado de acordo.

# ====================================================================================================
#  Banco de Dados (Drizzle ORM)
# ====================================================================================================
DATABASE_SCHEMA="public"
DATABASE_PROTOCOL="postgresql"
DATABASE_USER="postgres"
DATABASE_PASSWORD="password"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_NAME="pelo-bem"
# Baseado nas variáveis acima, a variável `DATABASE_URL` será construido automaticamente.
# Ex.: DATABASE_URL="postgresql://postgres:password@localhost:5432/pelo-bem"
